<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.BrokerDao">
	<select id="findBroker" resultType="broker">
		SELECT * FROM `broker` WHERE accout=#{arg0} AND password=#{arg1}
	</select>

	<select id="findBrokerByAccout" resultType="broker">
		SELECT * FROM `broker` WHERE accout=#{arg0}
	</select>

	<insert id="insertBroker" parameterType="com.yang.entity.Broker">
		INSERT INTO `broker`(accout,password,phone,name,sex)
		VALUES (#{accout},#{password},#{phone},#{name},#{sex})
	</insert>

	<update id="updatePassword">
		UPDATE broker SET password=#{arg1} WHERE accout=#{arg0}
	</update>


</mapper>

