<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.UserDao">

	<select id="getUser" resultType="user">
		SELECT * FROM user WHERE id=#{arg0}
	</select>

	<update id="updatePwd" parameterType="com.yang.entity.User">
		UPDATE user SET password=#{password} WHERE name=#{name}
	</update>

	<select id="loginUser" resultType="user">
		SELECT * FROM `user` WHERE name=#{name} AND `password`=#{password}
	</select>

	<select id="findUserByUaseName" resultType="user">
		SELECT * FROM `user` WHERE name=#{name}
	</select>

	<insert id="addNewUser" parameterType="com.yang.entity.User">
		INSERT INTO `user`(name, password) VALUES (#{name}, #{password})
	</insert>

	<!--<delete id="delPersonById" parameterType="int">-->
		<!--DELETE from person WHERE pid=#{pid}-->
	<!--</delete>-->

	<!--<insert id="insertPerson" parameterType="person">-->
		<!--INSERT INTO person(pname,psex,paddress) value(#{pname},#{psex},#{paddress})-->
	<!--</insert>-->

	<!--<select id="getPersonById" parameterType="int" resultMap="id_to_pid">-->
		<!--SELECT * FROM person WHERE pid=#{pid}-->
	<!--</select>-->

</mapper>

